@tailwind base;
@tailwind components;
@tailwind utilities;

/* Additional design theme/globals if needed */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
